# OS
.DS_Store
Thumbs.db

# IDE and local environment
/.vscode/
/.vagrant/
/.idea/
Vagrantfile

# Packages
/vendor/
composer.lock

# Application
/tests/config/
!/tests/config/test.ini.sample

# Tests
/build/
.php_cs.cache
.phpunit.result.cache

# Automation
/target/
