<!--
  ~                       ######
  ~                       ######
  ~ ############    ####( ######  #####. ######  ############   ############
  ~ #############  #####( ######  #####. ######  #############  #############
  ~        ######  #####( ######  #####. ######  #####  ######  #####  ######
  ~ ###### ######  #####( ######  #####. ######  #####  #####   #####  ######
  ~ ###### ######  #####( ######  #####. ######  #####          #####  ######
  ~ #############  #############  #############  #############  #####  ######
  ~  ############   ############  #############   ############  #####  ######
  ~                                      ######
  ~                               #############
  ~                               ############
  ~
  ~ Adyen API Library for PHP
  ~
  ~ Copyright (c) 2020 Adyen B.V.
  ~ This file is open source and available under the MIT license.
  ~ See the LICENSE file for more info.
  ~
  -->

<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/sebastianbergmann/phpunit/8.5/phpunit.xsd"
        bootstrap="tests/bootstrap.php"
        colors="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory>./tests/Unit</directory>
        </testsuite>
        <testsuite name="all">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-html" target="build/coverage"/>
    </logging>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <directory>vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
