<?php
/**
 * Capital API
 *
 * The version of the OpenAPI document: 1
 * Generated by: https://openapi-generator.tech
 * OpenAPI Generator version: 6.0.1
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

namespace Adyen\Service\Capital;

use Adyen\AdyenException;
use Adyen\Client;
use Adyen\Service;
use Adyen\Model\Capital\ObjectSerializer;

class DynamicOffersApi extends Service
{
    /**
     * @var array|string|string[]
     */
    private $baseURL;

    /**
     * DynamicOffersApi constructor.
     *
     * @param \Adyen\Client $client
     * @throws AdyenException
     */
    public function __construct(Client $client)
    {
        parent::__construct($client);

        // Create the baseUrl based on live/test and optional live-url-prefix
        $this->baseURL = $this->createBaseUrl("https://balanceplatform-api-test.adyen.com/capital/v1");
    }

    /**
    * Calculate a preliminary offer for a selected financing amount
    *
    * @param string $id
    * @param \Adyen\Model\Capital\CalculateGrantOfferRequest $calculateGrantOfferRequest
    * @param array|null $requestOptions
    * @return \Adyen\Model\Capital\CalculatedGrantOffer
    * @throws AdyenException
    */
    public function calculatePreliminaryOfferFromDynamicOffer(string $id, \Adyen\Model\Capital\CalculateGrantOfferRequest $calculateGrantOfferRequest, ?array $requestOptions = null): \Adyen\Model\Capital\CalculatedGrantOffer
    {
        $endpoint = $this->baseURL . str_replace(['{id}'], [$id], "/dynamicOffers/{id}/calculate");
        $response = $this->requestHttp($endpoint, strtolower('POST'), (array) $calculateGrantOfferRequest->jsonSerialize(), $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\Capital\CalculatedGrantOffer::class);
    }

    /**
    * Create a static offer for a selected financing amount
    *
    * @param string $id
    * @param \Adyen\Model\Capital\CreateGrantOfferRequest $createGrantOfferRequest
    * @param array|null $requestOptions
    * @return \Adyen\Model\Capital\GrantOffer
    * @throws AdyenException
    */
    public function createStaticOfferFromDynamicOffer(string $id, \Adyen\Model\Capital\CreateGrantOfferRequest $createGrantOfferRequest, ?array $requestOptions = null): \Adyen\Model\Capital\GrantOffer
    {
        $endpoint = $this->baseURL . str_replace(['{id}'], [$id], "/dynamicOffers/{id}/grantOffer");
        $response = $this->requestHttp($endpoint, strtolower('POST'), (array) $createGrantOfferRequest->jsonSerialize(), $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\Capital\GrantOffer::class);
    }

    /**
    * Get all available dynamic offers
    *
    * @param array|null $requestOptions ['queryParams' => ['accountHolderId'=> string, 'financingType'=> FinancingType]]
    * @return \Adyen\Model\Capital\GetDynamicOffersResponse
    * @throws AdyenException
    */
    public function getAllDynamicOffers(?array $requestOptions = null): \Adyen\Model\Capital\GetDynamicOffersResponse
    {
        $endpoint = $this->baseURL . "/dynamicOffers";
        $response = $this->requestHttp($endpoint, strtolower('GET'), null, $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\Capital\GetDynamicOffersResponse::class);
    }
}
