<?php
/**
 * Capital API
 *
 * The version of the OpenAPI document: 1
 * Generated by: https://openapi-generator.tech
 * OpenAPI Generator version: 6.0.1
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

namespace Adyen\Service\Capital;

use Adyen\AdyenException;
use Adyen\Client;
use Adyen\Service;
use Adyen\Model\Capital\ObjectSerializer;

class GrantsApi extends Service
{
    /**
     * @var array|string|string[]
     */
    private $baseURL;

    /**
     * GrantsApi constructor.
     *
     * @param \Adyen\Client $client
     * @throws AdyenException
     */
    public function __construct(Client $client)
    {
        parent::__construct($client);

        // Create the baseUrl based on live/test and optional live-url-prefix
        $this->baseURL = $this->createBaseUrl("https://balanceplatform-api-test.adyen.com/capital/v1");
    }

    /**
    * Get all the disbursements of a grant
    *
    * @param string $grantId
    * @param array|null $requestOptions
    * @return \Adyen\Model\Capital\Disbursements
    * @throws AdyenException
    */
    public function getAllGrantDisbursements(string $grantId, ?array $requestOptions = null): \Adyen\Model\Capital\Disbursements
    {
        $endpoint = $this->baseURL . str_replace(['{grantId}'], [$grantId], "/grants/{grantId}/disbursements");
        $response = $this->requestHttp($endpoint, strtolower('GET'), null, $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\Capital\Disbursements::class);
    }

    /**
    * Get all the grants of an account holder
    *
    * @param array|null $requestOptions ['queryParams' => ['counterpartyAccountHolderId'=> string]]
    * @return \Adyen\Model\Capital\Grants
    * @throws AdyenException
    */
    public function getAllGrants(?array $requestOptions = null): \Adyen\Model\Capital\Grants
    {
        $endpoint = $this->baseURL . "/grants";
        $response = $this->requestHttp($endpoint, strtolower('GET'), null, $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\Capital\Grants::class);
    }

    /**
    * Get the details of a grant
    *
    * @param string $grantId
    * @param array|null $requestOptions
    * @return \Adyen\Model\Capital\Grant
    * @throws AdyenException
    */
    public function getGrant(string $grantId, ?array $requestOptions = null): \Adyen\Model\Capital\Grant
    {
        $endpoint = $this->baseURL . str_replace(['{grantId}'], [$grantId], "/grants/{grantId}");
        $response = $this->requestHttp($endpoint, strtolower('GET'), null, $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\Capital\Grant::class);
    }

    /**
    * Get disbursement details
    *
    * @param string $grantId
    * @param string $disbursementId
    * @param array|null $requestOptions
    * @return \Adyen\Model\Capital\Disbursement
    * @throws AdyenException
    */
    public function getGrantDisbursement(string $grantId, string $disbursementId, ?array $requestOptions = null): \Adyen\Model\Capital\Disbursement
    {
        $endpoint = $this->baseURL . str_replace(['{grantId}', '{disbursementId}'], [$grantId, $disbursementId], "/grants/{grantId}/disbursements/{disbursementId}");
        $response = $this->requestHttp($endpoint, strtolower('GET'), null, $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\Capital\Disbursement::class);
    }

    /**
    * Make a request for a grant
    *
    * @param \Adyen\Model\Capital\GrantInfo $grantInfo
    * @param array|null $requestOptions
    * @return \Adyen\Model\Capital\Grant
    * @throws AdyenException
    */
    public function requestGrant(\Adyen\Model\Capital\GrantInfo $grantInfo, ?array $requestOptions = null): \Adyen\Model\Capital\Grant
    {
        $endpoint = $this->baseURL . "/grants";
        $response = $this->requestHttp($endpoint, strtolower('POST'), (array) $grantInfo->jsonSerialize(), $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\Capital\Grant::class);
    }

    /**
    * Update the repayment configuration of a disbursement
    *
    * @param string $grantId
    * @param string $disbursementId
    * @param \Adyen\Model\Capital\DisbursementInfoUpdate $disbursementInfoUpdate
    * @param array|null $requestOptions
    * @return \Adyen\Model\Capital\Disbursement
    * @throws AdyenException
    */
    public function updateGrantDisbursement(string $grantId, string $disbursementId, \Adyen\Model\Capital\DisbursementInfoUpdate $disbursementInfoUpdate, ?array $requestOptions = null): \Adyen\Model\Capital\Disbursement
    {
        $endpoint = $this->baseURL . str_replace(['{grantId}', '{disbursementId}'], [$grantId, $disbursementId], "/grants/{grantId}/disbursements/{disbursementId}");
        $response = $this->requestHttp($endpoint, strtolower('PATCH'), (array) $disbursementInfoUpdate->jsonSerialize(), $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\Capital\Disbursement::class);
    }
}
