<?php
/**
 * Foreign Exchange API
 *
 * The version of the OpenAPI document: 1
 * Generated by: https://openapi-generator.tech
 * OpenAPI Generator version: 6.0.1
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

namespace Adyen\Service\ForeignExchange;

use Adyen\AdyenException;
use Adyen\Client;
use Adyen\Service;
use Adyen\Model\ForeignExchange\ObjectSerializer;

class RatesApi extends Service
{
    /**
     * @var array|string|string[]
     */
    private $baseURL;

    /**
     * RatesApi constructor.
     *
     * @param \Adyen\Client $client
     * @throws AdyenException
     */
    public function __construct(Client $client)
    {
        parent::__construct($client);

        // Create the baseUrl based on live/test and optional live-url-prefix
        $this->baseURL = $this->createBaseUrl("https://balanceplatform-api-test.adyen.com/fx/api/v1");
    }

    /**
    * Calculate amount in a different currency
    *
    * @param \Adyen\Model\ForeignExchange\CalculateRateRequest $calculateRateRequest
    * @param array|null $requestOptions
    * @return \Adyen\Model\ForeignExchange\CalculateRateResponse
    * @throws AdyenException
    */
    public function calculate(\Adyen\Model\ForeignExchange\CalculateRateRequest $calculateRateRequest, ?array $requestOptions = null): \Adyen\Model\ForeignExchange\CalculateRateResponse
    {
        $endpoint = $this->baseURL . "/rates/calculate";
        $response = $this->requestHttp($endpoint, strtolower('POST'), (array) $calculateRateRequest->jsonSerialize(), $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\ForeignExchange\CalculateRateResponse::class);
    }
}
