<?php
/**
 * Configuration API
 *
 * The version of the OpenAPI document: 2
 * Generated by: https://openapi-generator.tech
 * OpenAPI Generator version: 6.0.1
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

namespace Adyen\Service\BalancePlatform;

use Adyen\AdyenException;
use Adyen\Client;
use Adyen\Service;
use Adyen\Model\BalancePlatform\ObjectSerializer;

class AuthorizedCardUsersApi extends Service
{
    /**
     * @var array|string|string[]
     */
    private $baseURL;

    /**
     * AuthorizedCardUsersApi constructor.
     *
     * @param \Adyen\Client $client
     * @throws AdyenException
     */
    public function __construct(Client $client)
    {
        parent::__construct($client);

        // Create the baseUrl based on live/test and optional live-url-prefix
        $this->baseURL = $this->createBaseUrl("https://balanceplatform-api-test.adyen.com/bcl/v2");
    }

    /**
    * Create authorized users for a card.
    *
    * @param string $paymentInstrumentId
    * @param \Adyen\Model\BalancePlatform\AuthorisedCardUsers $authorisedCardUsers
    * @param array|null $requestOptions

    * @throws AdyenException
    */
    public function createAuthorisedCardUsers(string $paymentInstrumentId, \Adyen\Model\BalancePlatform\AuthorisedCardUsers $authorisedCardUsers, ?array $requestOptions = null)
    {
        $endpoint = $this->baseURL . str_replace(['{paymentInstrumentId}'], [$paymentInstrumentId], "/paymentInstruments/{paymentInstrumentId}/authorisedCardUsers");
        $this->requestHttp($endpoint, strtolower('POST'), (array) $authorisedCardUsers->jsonSerialize(), $requestOptions);
    }

    /**
    * Delete the authorized users for a card.
    *
    * @param string $paymentInstrumentId
    * @param array|null $requestOptions

    * @throws AdyenException
    */
    public function deleteAuthorisedCardUsers(string $paymentInstrumentId, ?array $requestOptions = null)
    {
        $endpoint = $this->baseURL . str_replace(['{paymentInstrumentId}'], [$paymentInstrumentId], "/paymentInstruments/{paymentInstrumentId}/authorisedCardUsers");
        $this->requestHttp($endpoint, strtolower('DELETE'), null, $requestOptions);
    }

    /**
    * Get authorized users for a card.
    *
    * @param string $paymentInstrumentId
    * @param array|null $requestOptions
    * @return \Adyen\Model\BalancePlatform\AuthorisedCardUsers
    * @throws AdyenException
    */
    public function getAllAuthorisedCardUsers(string $paymentInstrumentId, ?array $requestOptions = null): \Adyen\Model\BalancePlatform\AuthorisedCardUsers
    {
        $endpoint = $this->baseURL . str_replace(['{paymentInstrumentId}'], [$paymentInstrumentId], "/paymentInstruments/{paymentInstrumentId}/authorisedCardUsers");
        $response = $this->requestHttp($endpoint, strtolower('GET'), null, $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\BalancePlatform\AuthorisedCardUsers::class);
    }

    /**
    * Update the authorized users for a card.
    *
    * @param string $paymentInstrumentId
    * @param \Adyen\Model\BalancePlatform\AuthorisedCardUsers $authorisedCardUsers
    * @param array|null $requestOptions

    * @throws AdyenException
    */
    public function updateAuthorisedCardUsers(string $paymentInstrumentId, \Adyen\Model\BalancePlatform\AuthorisedCardUsers $authorisedCardUsers, ?array $requestOptions = null)
    {
        $endpoint = $this->baseURL . str_replace(['{paymentInstrumentId}'], [$paymentInstrumentId], "/paymentInstruments/{paymentInstrumentId}/authorisedCardUsers");
        $this->requestHttp($endpoint, strtolower('PATCH'), (array) $authorisedCardUsers->jsonSerialize(), $requestOptions);
    }
}
