<?php
/**
 * Configuration API
 *
 * The version of the OpenAPI document: 2
 * Generated by: https://openapi-generator.tech
 * OpenAPI Generator version: 6.0.1
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

namespace Adyen\Service\BalancePlatform;

use Adyen\AdyenException;
use Adyen\Client;
use Adyen\Service;
use Adyen\Model\BalancePlatform\ObjectSerializer;

class BalancesApi extends Service
{
    /**
     * @var array|string|string[]
     */
    private $baseURL;

    /**
     * BalancesApi constructor.
     *
     * @param \Adyen\Client $client
     * @throws AdyenException
     */
    public function __construct(Client $client)
    {
        parent::__construct($client);

        // Create the baseUrl based on live/test and optional live-url-prefix
        $this->baseURL = $this->createBaseUrl("https://balanceplatform-api-test.adyen.com/bcl/v2");
    }

    /**
    * Create a balance webhook setting
    *
    * @param string $balancePlatformId
    * @param string $webhookId
    * @param \Adyen\Model\BalancePlatform\BalanceWebhookSettingInfo $balanceWebhookSettingInfo
    * @param array|null $requestOptions
    * @return \Adyen\Model\BalancePlatform\WebhookSetting
    * @throws AdyenException
    */
    public function createWebhookSetting(string $balancePlatformId, string $webhookId, \Adyen\Model\BalancePlatform\BalanceWebhookSettingInfo $balanceWebhookSettingInfo, ?array $requestOptions = null): \Adyen\Model\BalancePlatform\WebhookSetting
    {
        $endpoint = $this->baseURL . str_replace(['{balancePlatformId}', '{webhookId}'], [$balancePlatformId, $webhookId], "/balancePlatforms/{balancePlatformId}/webhooks/{webhookId}/settings");
        $response = $this->requestHttp($endpoint, strtolower('POST'), (array) $balanceWebhookSettingInfo->jsonSerialize(), $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\BalancePlatform\WebhookSetting::class);
    }

    /**
    * Delete a balance webhook setting by id
    *
    * @param string $balancePlatformId
    * @param string $webhookId
    * @param string $settingId
    * @param array|null $requestOptions
    
    * @throws AdyenException
    */
    public function deleteWebhookSetting(string $balancePlatformId, string $webhookId, string $settingId, ?array $requestOptions = null)
    {
        $endpoint = $this->baseURL . str_replace(['{balancePlatformId}', '{webhookId}', '{settingId}'], [$balancePlatformId, $webhookId, $settingId], "/balancePlatforms/{balancePlatformId}/webhooks/{webhookId}/settings/{settingId}");
        $this->requestHttp($endpoint, strtolower('DELETE'), null, $requestOptions);
        
    }

    /**
    * Get all balance webhook settings
    *
    * @param string $balancePlatformId
    * @param string $webhookId
    * @param array|null $requestOptions
    * @return \Adyen\Model\BalancePlatform\WebhookSettings
    * @throws AdyenException
    */
    public function getAllWebhookSettings(string $balancePlatformId, string $webhookId, ?array $requestOptions = null): \Adyen\Model\BalancePlatform\WebhookSettings
    {
        $endpoint = $this->baseURL . str_replace(['{balancePlatformId}', '{webhookId}'], [$balancePlatformId, $webhookId], "/balancePlatforms/{balancePlatformId}/webhooks/{webhookId}/settings");
        $response = $this->requestHttp($endpoint, strtolower('GET'), null, $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\BalancePlatform\WebhookSettings::class);
    }

    /**
    * Get a balance webhook setting by id
    *
    * @param string $balancePlatformId
    * @param string $webhookId
    * @param string $settingId
    * @param array|null $requestOptions
    * @return \Adyen\Model\BalancePlatform\WebhookSetting
    * @throws AdyenException
    */
    public function getWebhookSetting(string $balancePlatformId, string $webhookId, string $settingId, ?array $requestOptions = null): \Adyen\Model\BalancePlatform\WebhookSetting
    {
        $endpoint = $this->baseURL . str_replace(['{balancePlatformId}', '{webhookId}', '{settingId}'], [$balancePlatformId, $webhookId, $settingId], "/balancePlatforms/{balancePlatformId}/webhooks/{webhookId}/settings/{settingId}");
        $response = $this->requestHttp($endpoint, strtolower('GET'), null, $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\BalancePlatform\WebhookSetting::class);
    }

    /**
    * Update a balance webhook setting by id
    *
    * @param string $balancePlatformId
    * @param string $webhookId
    * @param string $settingId
    * @param \Adyen\Model\BalancePlatform\BalanceWebhookSettingInfoUpdate $balanceWebhookSettingInfoUpdate
    * @param array|null $requestOptions
    * @return \Adyen\Model\BalancePlatform\WebhookSetting
    * @throws AdyenException
    */
    public function updateWebhookSetting(string $balancePlatformId, string $webhookId, string $settingId, \Adyen\Model\BalancePlatform\BalanceWebhookSettingInfoUpdate $balanceWebhookSettingInfoUpdate, ?array $requestOptions = null): \Adyen\Model\BalancePlatform\WebhookSetting
    {
        $endpoint = $this->baseURL . str_replace(['{balancePlatformId}', '{webhookId}', '{settingId}'], [$balancePlatformId, $webhookId, $settingId], "/balancePlatforms/{balancePlatformId}/webhooks/{webhookId}/settings/{settingId}");
        $response = $this->requestHttp($endpoint, strtolower('PATCH'), (array) $balanceWebhookSettingInfoUpdate->jsonSerialize(), $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\BalancePlatform\WebhookSetting::class);
    }
}
