<?php
/**
 * Configuration API
 *
 * The version of the OpenAPI document: 2
 * Generated by: https://openapi-generator.tech
 * OpenAPI Generator version: 6.0.1
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

namespace Adyen\Service\BalancePlatform;

use Adyen\AdyenException;
use Adyen\Client;
use Adyen\Service;
use Adyen\Model\BalancePlatform\ObjectSerializer;

class DirectDebitMandatesApi extends Service
{
    /**
     * @var array|string|string[]
     */
    private $baseURL;

    /**
     * DirectDebitMandatesApi constructor.
     *
     * @param \Adyen\Client $client
     * @throws AdyenException
     */
    public function __construct(Client $client)
    {
        parent::__construct($client);

        // Create the baseUrl based on live/test and optional live-url-prefix
        $this->baseURL = $this->createBaseUrl("https://balanceplatform-api-test.adyen.com/bcl/v2");
    }

    /**
    * Cancel a mandate
    *
    * @param string $mandateId
    * @param array|null $requestOptions

    * @throws AdyenException
    */
    public function cancelMandate(string $mandateId, ?array $requestOptions = null)
    {
        $endpoint = $this->baseURL . str_replace(['{mandateId}'], [$mandateId], "/mandates/{mandateId}/cancel");
        $this->requestHttp($endpoint, strtolower('POST'), null, $requestOptions);
    }

    /**
    * Get a list of mandates
    *
    * @param array|null $requestOptions ['queryParams' => ['balanceAccountId'=> string, 'paymentInstrumentId'=> string, 'cursor'=> string]]
    * @return \Adyen\Model\BalancePlatform\ListMandatesResponse
    * @throws AdyenException
    */
    public function getListOfMandates(?array $requestOptions = null): \Adyen\Model\BalancePlatform\ListMandatesResponse
    {
        $endpoint = $this->baseURL . "/mandates";
        $response = $this->requestHttp($endpoint, strtolower('GET'), null, $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\BalancePlatform\ListMandatesResponse::class);
    }

    /**
    * Get a specific mandate
    *
    * @param string $mandateId
    * @param array|null $requestOptions
    * @return \Adyen\Model\BalancePlatform\Mandate
    * @throws AdyenException
    */
    public function getMandateById(string $mandateId, ?array $requestOptions = null): \Adyen\Model\BalancePlatform\Mandate
    {
        $endpoint = $this->baseURL . str_replace(['{mandateId}'], [$mandateId], "/mandates/{mandateId}");
        $response = $this->requestHttp($endpoint, strtolower('GET'), null, $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\BalancePlatform\Mandate::class);
    }

    /**
    * Amend a mandate
    *
    * @param string $mandateId
    * @param \Adyen\Model\BalancePlatform\MandateUpdate $mandateUpdate
    * @param array|null $requestOptions

    * @throws AdyenException
    */
    public function updateMandate(string $mandateId, \Adyen\Model\BalancePlatform\MandateUpdate $mandateUpdate, ?array $requestOptions = null)
    {
        $endpoint = $this->baseURL . str_replace(['{mandateId}'], [$mandateId], "/mandates/{mandateId}");
        $this->requestHttp($endpoint, strtolower('PATCH'), (array) $mandateUpdate->jsonSerialize(), $requestOptions);
    }
}
