<?php
/**
 * Configuration API
 *
 * The version of the OpenAPI document: 2
 * Generated by: https://openapi-generator.tech
 * OpenAPI Generator version: 6.0.1
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

namespace Adyen\Service\BalancePlatform;

use Adyen\AdyenException;
use Adyen\Client;
use Adyen\Service;
use Adyen\Model\BalancePlatform\ObjectSerializer;

class ManagedPayoutSchedulesApi extends Service
{
    /**
     * @var array|string|string[]
     */
    private $baseURL;

    /**
     * ManagedPayoutSchedulesApi constructor.
     *
     * @param \Adyen\Client $client
     * @throws AdyenException
     */
    public function __construct(Client $client)
    {
        parent::__construct($client);

        // Create the baseUrl based on live/test and optional live-url-prefix
        $this->baseURL = $this->createBaseUrl("https://balanceplatform-api-test.adyen.com/bcl/v2");
    }

    /**
    * Apply a managed payout schedule to a balance account
    *
    * @param string $balanceAccountId
    * @param \Adyen\Model\BalancePlatform\BalanceAccountConfigurationRequest $balanceAccountConfigurationRequest
    * @param array|null $requestOptions
    * @return \Adyen\Model\BalancePlatform\BalanceAccountConfiguration
    * @throws AdyenException
    */
    public function applyManagedSchedule(string $balanceAccountId, \Adyen\Model\BalancePlatform\BalanceAccountConfigurationRequest $balanceAccountConfigurationRequest, ?array $requestOptions = null): \Adyen\Model\BalancePlatform\BalanceAccountConfiguration
    {
        $endpoint = $this->baseURL . str_replace(['{balanceAccountId}'], [$balanceAccountId], "/balanceAccounts/{balanceAccountId}/payoutSchedules");
        $response = $this->requestHttp($endpoint, strtolower('POST'), (array) $balanceAccountConfigurationRequest->jsonSerialize(), $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\BalancePlatform\BalanceAccountConfiguration::class);
    }

    /**
    * Delete a managed payout schedule on a balance account
    *
    * @param string $balanceAccountId
    * @param string $id
    * @param array|null $requestOptions

    * @throws AdyenException
    */
    public function deleteBalanceAccountManagedSchedule(string $balanceAccountId, string $id, ?array $requestOptions = null)
    {
        $endpoint = $this->baseURL . str_replace(['{balanceAccountId}', '{id}'], [$balanceAccountId, $id], "/balanceAccounts/{balanceAccountId}/payoutSchedules/{id}");
        $this->requestHttp($endpoint, strtolower('DELETE'), null, $requestOptions);
    }

    /**
    * Get a specific managed payout schedule on a balance account
    *
    * @param string $balanceAccountId
    * @param string $id
    * @param array|null $requestOptions
    * @return \Adyen\Model\BalancePlatform\BalanceAccountConfiguration
    * @throws AdyenException
    */
    public function getBalanceAccountManagedScheduleById(string $balanceAccountId, string $id, ?array $requestOptions = null): \Adyen\Model\BalancePlatform\BalanceAccountConfiguration
    {
        $endpoint = $this->baseURL . str_replace(['{balanceAccountId}', '{id}'], [$balanceAccountId, $id], "/balanceAccounts/{balanceAccountId}/payoutSchedules/{id}");
        $response = $this->requestHttp($endpoint, strtolower('GET'), null, $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\BalancePlatform\BalanceAccountConfiguration::class);
    }

    /**
    * Get all managed payout schedules on a balance account
    *
    * @param string $balanceAccountId
    * @param array|null $requestOptions ['queryParams' => ['currency'=> string, 'cursor'=> string, 'limit'=> int]]
    * @return \Adyen\Model\BalancePlatform\BalanceAccountConfigurations
    * @throws AdyenException
    */
    public function getBalanceAccountManagedSchedules(string $balanceAccountId, ?array $requestOptions = null): \Adyen\Model\BalancePlatform\BalanceAccountConfigurations
    {
        $endpoint = $this->baseURL . str_replace(['{balanceAccountId}'], [$balanceAccountId], "/balanceAccounts/{balanceAccountId}/payoutSchedules");
        $response = $this->requestHttp($endpoint, strtolower('GET'), null, $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\BalancePlatform\BalanceAccountConfigurations::class);
    }

    /**
    * Get a specific managed payout schedule on your balance platform
    *
    * @param string $balancePlatformId
    * @param string $id
    * @param array|null $requestOptions
    * @return \Adyen\Model\BalancePlatform\BalancePlatformConfiguration
    * @throws AdyenException
    */
    public function getBalancePlatformManagedScheduleById(string $balancePlatformId, string $id, ?array $requestOptions = null): \Adyen\Model\BalancePlatform\BalancePlatformConfiguration
    {
        $endpoint = $this->baseURL . str_replace(['{balancePlatformId}', '{id}'], [$balancePlatformId, $id], "/balancePlatforms/{balancePlatformId}/payoutSchedules/{id}");
        $response = $this->requestHttp($endpoint, strtolower('GET'), null, $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\BalancePlatform\BalancePlatformConfiguration::class);
    }

    /**
    * Get all managed payout schedules on your balance platform
    *
    * @param string $balancePlatformId
    * @param array|null $requestOptions ['queryParams' => ['countryCode'=> string, 'currency'=> string]]
    * @return \Adyen\Model\BalancePlatform\BalancePlatformConfigurations
    * @throws AdyenException
    */
    public function getBalancePlatformManagedSchedules(string $balancePlatformId, ?array $requestOptions = null): \Adyen\Model\BalancePlatform\BalancePlatformConfigurations
    {
        $endpoint = $this->baseURL . str_replace(['{balancePlatformId}'], [$balancePlatformId], "/balancePlatforms/{balancePlatformId}/payoutSchedules");
        $response = $this->requestHttp($endpoint, strtolower('GET'), null, $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\BalancePlatform\BalancePlatformConfigurations::class);
    }

    /**
    * View executions of a managed payout schedule
    *
    * @param string $balanceAccountId
    * @param string $id
    * @param array|null $requestOptions ['queryParams' => ['results'=> \Adyen\Model\BalancePlatform\ExecutionResult[], 'limit'=> int, 'offset'=> int]]
    * @return \Adyen\Model\BalancePlatform\PayoutScheduleExecutions
    * @throws AdyenException
    */
    public function getPayoutScheduleExecutions(string $balanceAccountId, string $id, ?array $requestOptions = null): \Adyen\Model\BalancePlatform\PayoutScheduleExecutions
    {
        $endpoint = $this->baseURL . str_replace(['{balanceAccountId}', '{id}'], [$balanceAccountId, $id], "/balanceAccounts/{balanceAccountId}/payoutSchedules/{id}/executions");
        $response = $this->requestHttp($endpoint, strtolower('GET'), null, $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\BalancePlatform\PayoutScheduleExecutions::class);
    }

    /**
    * Update a managed payout schedule on a balance account
    *
    * @param string $balanceAccountId
    * @param string $id
    * @param \Adyen\Model\BalancePlatform\BalanceAccountConfigurationUpdate $balanceAccountConfigurationUpdate
    * @param array|null $requestOptions
    * @return \Adyen\Model\BalancePlatform\BalanceAccountConfiguration
    * @throws AdyenException
    */
    public function updateBalanceAccountManagedSchedule(string $balanceAccountId, string $id, \Adyen\Model\BalancePlatform\BalanceAccountConfigurationUpdate $balanceAccountConfigurationUpdate, ?array $requestOptions = null): \Adyen\Model\BalancePlatform\BalanceAccountConfiguration
    {
        $endpoint = $this->baseURL . str_replace(['{balanceAccountId}', '{id}'], [$balanceAccountId, $id], "/balanceAccounts/{balanceAccountId}/payoutSchedules/{id}");
        $response = $this->requestHttp($endpoint, strtolower('PATCH'), (array) $balanceAccountConfigurationUpdate->jsonSerialize(), $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\BalancePlatform\BalanceAccountConfiguration::class);
    }
}
