<?php
/**
 * Configuration API
 *
 * The version of the OpenAPI document: 2
 * Generated by: https://openapi-generator.tech
 * OpenAPI Generator version: 6.0.1
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

namespace Adyen\Service\BalancePlatform;

use Adyen\AdyenException;
use Adyen\Client;
use Adyen\Service;
use Adyen\Model\BalancePlatform\ObjectSerializer;

class RecurringTopUpsApi extends Service
{
    /**
     * @var array|string|string[]
     */
    private $baseURL;

    /**
     * RecurringTopUpsApi constructor.
     *
     * @param \Adyen\Client $client
     * @throws AdyenException
     */
    public function __construct(Client $client)
    {
        parent::__construct($client);

        // Create the baseUrl based on live/test and optional live-url-prefix
        $this->baseURL = $this->createBaseUrl("https://balanceplatform-api-test.adyen.com/bcl/v2");
    }

    /**
    * Create recurring top up
    *
    * @param string $balanceAccountId
    * @param \Adyen\Model\BalancePlatform\CreateRecurringTopUp $createRecurringTopUp
    * @param array|null $requestOptions
    * @return \Adyen\Model\BalancePlatform\RecurringTopUp
    * @throws AdyenException
    */
    public function createRecurringTopUp(string $balanceAccountId, \Adyen\Model\BalancePlatform\CreateRecurringTopUp $createRecurringTopUp, ?array $requestOptions = null): \Adyen\Model\BalancePlatform\RecurringTopUp
    {
        $endpoint = $this->baseURL . str_replace(['{balanceAccountId}'], [$balanceAccountId], "/balanceAccounts/{balanceAccountId}/recurringTopUps");
        $response = $this->requestHttp($endpoint, strtolower('POST'), (array) $createRecurringTopUp->jsonSerialize(), $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\BalancePlatform\RecurringTopUp::class);
    }

    /**
    * Delete a recurring top up
    *
    * @param string $balanceAccountId
    * @param string $topUpId
    * @param array|null $requestOptions

    * @throws AdyenException
    */
    public function deleteRecurringTopUp(string $balanceAccountId, string $topUpId, ?array $requestOptions = null)
    {
        $endpoint = $this->baseURL . str_replace(['{balanceAccountId}', '{topUpId}'], [$balanceAccountId, $topUpId], "/balanceAccounts/{balanceAccountId}/recurringTopUps/{topUpId}");
        $this->requestHttp($endpoint, strtolower('DELETE'), null, $requestOptions);
    }

    /**
    * Get recurring top ups for a specific balanceAccountId
    *
    * @param string $balanceAccountId
    * @param array|null $requestOptions ['queryParams' => ['limit'=> int, 'cursor'=> string]]
    * @return \Adyen\Model\BalancePlatform\RecurringTopUpsResult
    * @throws AdyenException
    */
    public function getRecurringTopUps(string $balanceAccountId, ?array $requestOptions = null): \Adyen\Model\BalancePlatform\RecurringTopUpsResult
    {
        $endpoint = $this->baseURL . str_replace(['{balanceAccountId}'], [$balanceAccountId], "/balanceAccounts/{balanceAccountId}/recurringTopUps");
        $response = $this->requestHttp($endpoint, strtolower('GET'), null, $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\BalancePlatform\RecurringTopUpsResult::class);
    }

    /**
    * Update a RecurringTopUp
    *
    * @param string $balanceAccountId
    * @param string $topUpId
    * @param \Adyen\Model\BalancePlatform\PatchableCreateRecurringTopUp $patchableCreateRecurringTopUp
    * @param array|null $requestOptions
    * @return \Adyen\Model\BalancePlatform\RecurringTopUp
    * @throws AdyenException
    */
    public function updateRecurringTopUps(string $balanceAccountId, string $topUpId, \Adyen\Model\BalancePlatform\PatchableCreateRecurringTopUp $patchableCreateRecurringTopUp, ?array $requestOptions = null): \Adyen\Model\BalancePlatform\RecurringTopUp
    {
        $endpoint = $this->baseURL . str_replace(['{balanceAccountId}', '{topUpId}'], [$balanceAccountId, $topUpId], "/balanceAccounts/{balanceAccountId}/recurringTopUps/{topUpId}");
        $response = $this->requestHttp($endpoint, strtolower('PATCH'), (array) $patchableCreateRecurringTopUp->jsonSerialize(), $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\BalancePlatform\RecurringTopUp::class);
    }
}
