<?php
/**
 * Configuration API
 *
 * The version of the OpenAPI document: 2
 * Generated by: https://openapi-generator.tech
 * OpenAPI Generator version: 6.0.1
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

namespace Adyen\Service\BalancePlatform;

use Adyen\AdyenException;
use Adyen\Client;
use Adyen\Service;
use Adyen\Model\BalancePlatform\ObjectSerializer;

class SCADeviceManagementApi extends Service
{
    /**
     * @var array|string|string[]
     */
    private $baseURL;

    /**
     * SCADeviceManagementApi constructor.
     *
     * @param \Adyen\Client $client
     * @throws AdyenException
     */
    public function __construct(Client $client)
    {
        parent::__construct($client);

        // Create the baseUrl based on live/test and optional live-url-prefix
        $this->baseURL = $this->createBaseUrl("https://balanceplatform-api-test.adyen.com/bcl/v2");
    }

    /**
    * Begin SCA device registration
    *
    * @param \Adyen\Model\BalancePlatform\BeginScaDeviceRegistrationRequest $beginScaDeviceRegistrationRequest
    * @param array|null $requestOptions
    * @return \Adyen\Model\BalancePlatform\BeginScaDeviceRegistrationResponse
    * @throws AdyenException
    */
    public function beginScaDeviceRegistration(\Adyen\Model\BalancePlatform\BeginScaDeviceRegistrationRequest $beginScaDeviceRegistrationRequest, ?array $requestOptions = null): \Adyen\Model\BalancePlatform\BeginScaDeviceRegistrationResponse
    {
        $endpoint = $this->baseURL . "/scaDevices";
        $response = $this->requestHttp($endpoint, strtolower('POST'), (array) $beginScaDeviceRegistrationRequest->jsonSerialize(), $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\BalancePlatform\BeginScaDeviceRegistrationResponse::class);
    }

    /**
    * Finish registration process for a SCA device
    *
    * @param string $deviceId
    * @param \Adyen\Model\BalancePlatform\FinishScaDeviceRegistrationRequest $finishScaDeviceRegistrationRequest
    * @param array|null $requestOptions
    * @return \Adyen\Model\BalancePlatform\FinishScaDeviceRegistrationResponse
    * @throws AdyenException
    */
    public function finishScaDeviceRegistration(string $deviceId, \Adyen\Model\BalancePlatform\FinishScaDeviceRegistrationRequest $finishScaDeviceRegistrationRequest, ?array $requestOptions = null): \Adyen\Model\BalancePlatform\FinishScaDeviceRegistrationResponse
    {
        $endpoint = $this->baseURL . str_replace(['{deviceId}'], [$deviceId], "/scaDevices/{deviceId}");
        $response = $this->requestHttp($endpoint, strtolower('PATCH'), (array) $finishScaDeviceRegistrationRequest->jsonSerialize(), $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\BalancePlatform\FinishScaDeviceRegistrationResponse::class);
    }

    /**
    * Create a new SCA association for a device
    *
    * @param string $deviceId
    * @param \Adyen\Model\BalancePlatform\SubmitScaAssociationRequest $submitScaAssociationRequest
    * @param array|null $requestOptions
    * @return \Adyen\Model\BalancePlatform\SubmitScaAssociationResponse
    * @throws AdyenException
    */
    public function submitScaAssociation(string $deviceId, \Adyen\Model\BalancePlatform\SubmitScaAssociationRequest $submitScaAssociationRequest, ?array $requestOptions = null): \Adyen\Model\BalancePlatform\SubmitScaAssociationResponse
    {
        $endpoint = $this->baseURL . str_replace(['{deviceId}'], [$deviceId], "/scaDevices/{deviceId}/scaAssociations");
        $response = $this->requestHttp($endpoint, strtolower('POST'), (array) $submitScaAssociationRequest->jsonSerialize(), $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\BalancePlatform\SubmitScaAssociationResponse::class);
    }
}
