<?php
/**
 * Configuration API
 *
 * The version of the OpenAPI document: 2
 * Generated by: https://openapi-generator.tech
 * OpenAPI Generator version: 6.0.1
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

namespace Adyen\Service\BalancePlatform;

use Adyen\AdyenException;
use Adyen\Client;
use Adyen\Service;
use Adyen\Model\BalancePlatform\ObjectSerializer;

class TransferRoutesApi extends Service
{
    /**
     * @var array|string|string[]
     */
    private $baseURL;

    /**
     * TransferRoutesApi constructor.
     *
     * @param \Adyen\Client $client
     * @throws AdyenException
     */
    public function __construct(Client $client)
    {
        parent::__construct($client);

        // Create the baseUrl based on live/test and optional live-url-prefix
        $this->baseURL = $this->createBaseUrl("https://balanceplatform-api-test.adyen.com/bcl/v2");
    }

    /**
    * Calculate transfer routes
    *
    * @param \Adyen\Model\BalancePlatform\TransferRouteRequest $transferRouteRequest
    * @param array|null $requestOptions
    * @return \Adyen\Model\BalancePlatform\TransferRouteResponse
    * @throws AdyenException
    */
    public function calculateTransferRoutes(\Adyen\Model\BalancePlatform\TransferRouteRequest $transferRouteRequest, array $requestOptions = null): \Adyen\Model\BalancePlatform\TransferRouteResponse
    {
        $endpoint = $this->baseURL . "/transferRoutes/calculate";
        $response = $this->requestHttp($endpoint, strtolower('POST'), (array) $transferRouteRequest->jsonSerialize(), $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\BalancePlatform\TransferRouteResponse::class);
    }
}
