<?php
/**
 * Management API
 *
 * The version of the OpenAPI document: 3
 * Generated by: https://openapi-generator.tech
 * OpenAPI Generator version: 6.0.1
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

namespace Adyen\Service\Management;

use Adyen\AdyenException;
use Adyen\Client;
use Adyen\Service;
use Adyen\Model\Management\ObjectSerializer;

class ClientCertificatesCompanyLevelApi extends Service
{
    /**
     * @var array|string|string[]
     */
    private $baseURL;

    /**
     * ClientCertificatesCompanyLevelApi constructor.
     *
     * @param \Adyen\Client $client
     * @throws AdyenException
     */
    public function __construct(Client $client)
    {
        parent::__construct($client);

        // Create the baseUrl based on live/test and optional live-url-prefix
        $this->baseURL = $this->createBaseUrl("https://management-test.adyen.com/v3");
    }

    /**
    * Generate a client certificate
    *
    * @param string $companyId
    * @param \Adyen\Model\Management\ClientCertificateRequest $clientCertificateRequest
    * @param array|null $requestOptions
    * @return \Adyen\Model\Management\ClientCertificateWithChain
    * @throws AdyenException
    */
    public function generateClientCertificate(string $companyId, \Adyen\Model\Management\ClientCertificateRequest $clientCertificateRequest, ?array $requestOptions = null): \Adyen\Model\Management\ClientCertificateWithChain
    {
        $endpoint = $this->baseURL . str_replace(['{companyId}'], [$companyId], "/companies/{companyId}/clientCertificates");
        $response = $this->requestHttp($endpoint, strtolower('POST'), (array) $clientCertificateRequest->jsonSerialize(), $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\Management\ClientCertificateWithChain::class);
    }

    /**
    * Retrieve all valid client certificates for this company
    *
    * @param string $companyId
    * @param array|null $requestOptions
    * @return \Adyen\Model\Management\CertificateSearchResponse
    * @throws AdyenException
    */
    public function listClientCertificates(string $companyId, ?array $requestOptions = null): \Adyen\Model\Management\CertificateSearchResponse
    {
        $endpoint = $this->baseURL . str_replace(['{companyId}'], [$companyId], "/companies/{companyId}/clientCertificates");
        $response = $this->requestHttp($endpoint, strtolower('GET'), null, $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\Management\CertificateSearchResponse::class);
    }
}
