<?php
/**
 * Management API
 *
 * The version of the OpenAPI document: 3
 * Generated by: https://openapi-generator.tech
 * OpenAPI Generator version: 6.0.1
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

namespace Adyen\Service\Management;

use Adyen\AdyenException;
use Adyen\Client;
use Adyen\Service;
use Adyen\Model\Management\ObjectSerializer;

class DonationCampaignsApi extends Service
{
    /**
     * @var array|string|string[]
     */
    private $baseURL;

    /**
     * DonationCampaignsApi constructor.
     *
     * @param \Adyen\Client $client
     * @throws AdyenException
     */
    public function __construct(Client $client)
    {
        parent::__construct($client);

        // Create the baseUrl based on live/test and optional live-url-prefix
        $this->baseURL = $this->createBaseUrl("https://management-test.adyen.com/v3");
    }

    /**
    * Create a donation campaign
    *
    * @param string $companyId
    * @param \Adyen\Model\Management\DonationCampaignRequest $donationCampaignRequest
    * @param array|null $requestOptions
    * @return \Adyen\Model\Management\DonationCampaign
    * @throws AdyenException
    */
    public function createDonationCampaign(string $companyId, \Adyen\Model\Management\DonationCampaignRequest $donationCampaignRequest, ?array $requestOptions = null): \Adyen\Model\Management\DonationCampaign
    {
        $endpoint = $this->baseURL . str_replace(['{companyId}'], [$companyId], "/companies/{companyId}/campaignManagement");
        $response = $this->requestHttp($endpoint, strtolower('POST'), (array) $donationCampaignRequest->jsonSerialize(), $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\Management\DonationCampaign::class);
    }

    /**
    * Delete a donation campaign
    *
    * @param string $companyId
    * @param string $donationCampaignId
    * @param array|null $requestOptions

    * @throws AdyenException
    */
    public function deleteDonationCampaign(string $companyId, string $donationCampaignId, ?array $requestOptions = null)
    {
        $endpoint = $this->baseURL . str_replace(['{companyId}', '{donationCampaignId}'], [$companyId, $donationCampaignId], "/companies/{companyId}/campaignManagement/{donationCampaignId}");
        $this->requestHttp($endpoint, strtolower('DELETE'), null, $requestOptions);
    }

    /**
    * Get the donation campaigns for an account holder
    *
    * @param string $companyId
    * @param string $accountHolderId
    * @param array|null $requestOptions ['queryParams' => ['status'=> string, 'pageNumber'=> int, 'pageSize'=> int]]
    * @return \Adyen\Model\Management\ListDonationCampaignsResponse
    * @throws AdyenException
    */
    public function listDonationCampaignsForAccountHolder(string $companyId, string $accountHolderId, ?array $requestOptions = null): \Adyen\Model\Management\ListDonationCampaignsResponse
    {
        $endpoint = $this->baseURL . str_replace(['{companyId}', '{accountHolderId}'], [$companyId, $accountHolderId], "/companies/{companyId}/campaignManagement/accountHolders/{accountHolderId}");
        $response = $this->requestHttp($endpoint, strtolower('GET'), null, $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\Management\ListDonationCampaignsResponse::class);
    }

    /**
    * Get a list of nonprofits
    *
    * @param string $companyId
    * @param \Adyen\Model\Management\ListNonprofitsRequest $listNonprofitsRequest
    * @param array|null $requestOptions ['queryParams' => ['searchTerm'=> string, 'pageNumber'=> int, 'pageSize'=> int, 'goal'=> string[]]]
    * @return \Adyen\Model\Management\ListNonprofitsResponse
    * @throws AdyenException
    */
    public function listNonprofits(string $companyId, \Adyen\Model\Management\ListNonprofitsRequest $listNonprofitsRequest, ?array $requestOptions = null): \Adyen\Model\Management\ListNonprofitsResponse
    {
        $endpoint = $this->baseURL . str_replace(['{companyId}'], [$companyId], "/companies/{companyId}/nonprofits");
        $response = $this->requestHttp($endpoint, strtolower('POST'), (array) $listNonprofitsRequest->jsonSerialize(), $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\Management\ListNonprofitsResponse::class);
    }

    /**
    * Update a donation campaign
    *
    * @param string $companyId
    * @param string $donationCampaignId
    * @param \Adyen\Model\Management\DonationCampaignUpdate $donationCampaignUpdate
    * @param array|null $requestOptions
    * @return \Adyen\Model\Management\DonationCampaign
    * @throws AdyenException
    */
    public function updateDonationCampaign(string $companyId, string $donationCampaignId, \Adyen\Model\Management\DonationCampaignUpdate $donationCampaignUpdate, ?array $requestOptions = null): \Adyen\Model\Management\DonationCampaign
    {
        $endpoint = $this->baseURL . str_replace(['{companyId}', '{donationCampaignId}'], [$companyId, $donationCampaignId], "/companies/{companyId}/campaignManagement/{donationCampaignId}");
        $response = $this->requestHttp($endpoint, strtolower('PATCH'), (array) $donationCampaignUpdate->jsonSerialize(), $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\Management\DonationCampaign::class);
    }

    /**
    * Activate or end a donation campaign
    *
    * @param string $companyId
    * @param string $donationCampaignId
    * @param CampaignStatusTransition $status
    * @param array|null $requestOptions
    * @return \Adyen\Model\Management\DonationCampaign
    * @throws AdyenException
    */
    public function updateDonationCampaignStatus(string $companyId, string $donationCampaignId, CampaignStatusTransition $status, ?array $requestOptions = null): \Adyen\Model\Management\DonationCampaign
    {
        $endpoint = $this->baseURL . str_replace(['{companyId}', '{donationCampaignId}', '{status}'], [$companyId, $donationCampaignId, $status], "/companies/{companyId}/campaignManagement/{donationCampaignId}/status/{status}");
        $response = $this->requestHttp($endpoint, strtolower('POST'), null, $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\Management\DonationCampaign::class);
    }
}
