<?php
/**
 * Management API
 *
 * Configure and manage your Adyen company and merchant accounts, stores, and payment terminals. ## Authentication Each request to the Management API must be signed with an API key. [Generate your API key](https://docs.adyen.com/development-resources/api-credentials#generate-api-key) in the Customer Area and then set this key to the `X-API-Key` header value.  To access the live endpoints, you need to generate a new API key in your live Customer Area. ## Versioning  Management API handles versioning as part of the endpoint URL. For example, to send a request to version 1 of the `/companies/{companyId}/webhooks` endpoint, use:  ```text https://management-test.adyen.com/v1/companies/{companyId}/webhooks ```  ## Going live  To access the live endpoints, you need an API key from your live Customer Area. Use this API key to make requests to:  ```text https://management-live.adyen.com/v1 ```
 *
 * The version of the OpenAPI document: 1
 * Contact: developer-experience@adyen.com
 * Generated by: https://openapi-generator.tech
 * OpenAPI Generator version: 6.4.0
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

namespace Adyen\Service\Management;

use Adyen\AdyenException;
use Adyen\Client;
use Adyen\Service;
use Adyen\Model\Management\ObjectSerializer;

class TerminalActionsCompanyLevelApi extends Service
{
    /**
     * @var array|string|string[]
     */
    private $baseURL;

    /**
     * TerminalActionsCompanyLevelApi constructor.
     *
     * @param \Adyen\Client $client
     * @throws AdyenException
     */
    public function __construct(Client $client)
    {
        parent::__construct($client);

        // Create the baseUrl based on live/test and optional live-url-prefix
        $this->baseURL = $this->createBaseUrl("https://management-test.adyen.com/v1");
    }

    /**
    * Get a list of Android apps
    *
    * @param string $companyId
    * @param int $pageNumber
    * @param int $pageSize
    * @param array $requestOptions
    * @return \Adyen\Model\Management\AndroidAppsResponse
    * @throws AdyenException
    */
    public function listAndroidApps(string $companyId, array $requestOptions = null): \Adyen\Model\Management\AndroidAppsResponse
    {
        $endpoint = $this->baseURL . str_replace(['{companyId}'], [$companyId], "/companies/{companyId}/androidApps");
        $response = $this->requestHttp($endpoint, strtolower('GET'), null, $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\Management\AndroidAppsResponse::class);
    }

    /**
    * Get a list of Android certificates
    *
    * @param string $companyId
    * @param int $pageNumber
    * @param int $pageSize
    * @param array $requestOptions
    * @return \Adyen\Model\Management\AndroidCertificatesResponse
    * @throws AdyenException
    */
    public function listAndroidCertificates(string $companyId, array $requestOptions = null): \Adyen\Model\Management\AndroidCertificatesResponse
    {
        $endpoint = $this->baseURL . str_replace(['{companyId}'], [$companyId], "/companies/{companyId}/androidCertificates");
        $response = $this->requestHttp($endpoint, strtolower('GET'), null, $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\Management\AndroidCertificatesResponse::class);
    }

    /**
    * Get a list of terminal actions
    *
    * @param string $companyId
    * @param int $pageNumber
    * @param int $pageSize
    * @param string $status
    * @param string $type
    * @param array $requestOptions
    * @return \Adyen\Model\Management\ListExternalTerminalActionsResponse
    * @throws AdyenException
    */
    public function listTerminalActions(string $companyId, array $requestOptions = null): \Adyen\Model\Management\ListExternalTerminalActionsResponse
    {
        $endpoint = $this->baseURL . str_replace(['{companyId}'], [$companyId], "/companies/{companyId}/terminalActions");
        $response = $this->requestHttp($endpoint, strtolower('GET'), null, $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\Management\ListExternalTerminalActionsResponse::class);
    }

    /**
    * Get terminal action
    *
    * @param string $companyId
    * @param string $actionId
    * @param array $requestOptions
    * @return \Adyen\Model\Management\ExternalTerminalAction
    * @throws AdyenException
    */
    public function getTerminalAction(string $companyId, string $actionId, array $requestOptions = null): \Adyen\Model\Management\ExternalTerminalAction
    {
        $endpoint = $this->baseURL . str_replace(['{companyId}', '{actionId}'], [$companyId, $actionId], "/companies/{companyId}/terminalActions/{actionId}");
        $response = $this->requestHttp($endpoint, strtolower('GET'), null, $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\Management\ExternalTerminalAction::class);
    }
}
