<?php
/**
 * Management API
 *
 * The version of the OpenAPI document: 3
 * Generated by: https://openapi-generator.tech
 * OpenAPI Generator version: 6.0.1
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

namespace Adyen\Service\Management;

use Adyen\AdyenException;
use Adyen\Client;
use Adyen\Service;
use Adyen\Model\Management\ObjectSerializer;

class TerminalThemesTerminalLevelApi extends Service
{
    /**
     * @var array|string|string[]
     */
    private $baseURL;

    /**
     * TerminalThemesTerminalLevelApi constructor.
     *
     * @param \Adyen\Client $client
     * @throws AdyenException
     */
    public function __construct(Client $client)
    {
        parent::__construct($client);

        // Create the baseUrl based on live/test and optional live-url-prefix
        $this->baseURL = $this->createBaseUrl("https://management-test.adyen.com/v3");
    }

    /**
    * Apply a terminal theme
    *
    * @param string $terminalId
    * @param string $id
    * @param array|null $requestOptions

    * @throws AdyenException
    */
    public function applyTerminalThemeForTerminal(string $terminalId, string $id, ?array $requestOptions = null)
    {
        $endpoint = $this->baseURL . str_replace(['{terminalId}', '{id}'], [$terminalId, $id], "/terminals/{terminalId}/terminalThemes/{id}/apply");
        $this->requestHttp($endpoint, strtolower('POST'), null, $requestOptions);
    }

    /**
    * Unapply a terminal theme
    *
    * @param string $terminalId
    * @param array|null $requestOptions

    * @throws AdyenException
    */
    public function unapplyTerminalThemeForTerminal(string $terminalId, ?array $requestOptions = null)
    {
        $endpoint = $this->baseURL . str_replace(['{terminalId}'], [$terminalId], "/terminals/{terminalId}/terminalThemes/unapply");
        $this->requestHttp($endpoint, strtolower('POST'), null, $requestOptions);
    }
}
