<?php
/**
 * Management API
 *
 * Configure and manage your Adyen company and merchant accounts, stores, and payment terminals. ## Authentication Each request to the Management API must be signed with an API key. [Generate your API key](https://docs.adyen.com/development-resources/api-credentials#generate-api-key) in the Customer Area and then set this key to the `X-API-Key` header value.  To access the live endpoints, you need to generate a new API key in your live Customer Area. ## Versioning  Management API handles versioning as part of the endpoint URL. For example, to send a request to version 1 of the `/companies/{companyId}/webhooks` endpoint, use:  ```text https://management-test.adyen.com/v1/companies/{companyId}/webhooks ```  ## Going live  To access the live endpoints, you need an API key from your live Customer Area. Use this API key to make requests to:  ```text https://management-live.adyen.com/v1 ```
 *
 * The version of the OpenAPI document: 1
 * Contact: developer-experience@adyen.com
 * Generated by: https://openapi-generator.tech
 * OpenAPI Generator version: 6.4.0
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

namespace Adyen\Service\Management;

use Adyen\AdyenException;
use Adyen\Client;
use Adyen\Service;
use Adyen\Model\Management\ObjectSerializer;

class UsersMerchantLevelApi extends Service
{
    /**
     * @var array|string|string[]
     */
    private $baseURL;

    /**
     * UsersMerchantLevelApi constructor.
     *
     * @param \Adyen\Client $client
     * @throws AdyenException
     */
    public function __construct(Client $client)
    {
        parent::__construct($client);

        // Create the baseUrl based on live/test and optional live-url-prefix
        $this->baseURL = $this->createBaseUrl("https://management-test.adyen.com/v1");
    }

    /**
    * Get a list of users
    *
    * @param string $merchantId
    * @param int $pageNumber
    * @param int $pageSize
    * @param string $username
    * @param array $requestOptions
    * @return \Adyen\Model\Management\ListMerchantUsersResponse
    * @throws AdyenException
    */
    public function listUsers(string $merchantId, array $requestOptions = null): \Adyen\Model\Management\ListMerchantUsersResponse
    {
        $endpoint = $this->baseURL . str_replace(['{merchantId}'], [$merchantId], "/merchants/{merchantId}/users");
        $response = $this->requestHttp($endpoint, strtolower('GET'), null, $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\Management\ListMerchantUsersResponse::class);
    }

    /**
    * Get user details
    *
    * @param string $merchantId
    * @param string $userId
    * @param array $requestOptions
    * @return \Adyen\Model\Management\User
    * @throws AdyenException
    */
    public function getUserDetails(string $merchantId, string $userId, array $requestOptions = null): \Adyen\Model\Management\User
    {
        $endpoint = $this->baseURL . str_replace(['{merchantId}', '{userId}'], [$merchantId, $userId], "/merchants/{merchantId}/users/{userId}");
        $response = $this->requestHttp($endpoint, strtolower('GET'), null, $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\Management\User::class);
    }

    /**
    * Update a user
    *
    * @param string $merchantId
    * @param string $userId
    * @param \Adyen\Model\Management\UpdateMerchantUserRequest $updateMerchantUserRequest
    * @param array $requestOptions
    * @return \Adyen\Model\Management\User
    * @throws AdyenException
    */
    public function updateUser(string $merchantId, string $userId, \Adyen\Model\Management\UpdateMerchantUserRequest $updateMerchantUserRequest, array $requestOptions = null): \Adyen\Model\Management\User
    {
        $endpoint = $this->baseURL . str_replace(['{merchantId}', '{userId}'], [$merchantId, $userId], "/merchants/{merchantId}/users/{userId}");
        $response = $this->requestHttp($endpoint, strtolower('PATCH'), (array) $updateMerchantUserRequest->jsonSerialize(), $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\Management\User::class);
    }

    /**
    * Create a new user
    *
    * @param string $merchantId
    * @param \Adyen\Model\Management\CreateMerchantUserRequest $createMerchantUserRequest
    * @param array $requestOptions
    * @return \Adyen\Model\Management\CreateUserResponse
    * @throws AdyenException
    */
    public function createNewUser(string $merchantId, \Adyen\Model\Management\CreateMerchantUserRequest $createMerchantUserRequest, array $requestOptions = null): \Adyen\Model\Management\CreateUserResponse
    {
        $endpoint = $this->baseURL . str_replace(['{merchantId}'], [$merchantId], "/merchants/{merchantId}/users");
        $response = $this->requestHttp($endpoint, strtolower('POST'), (array) $createMerchantUserRequest->jsonSerialize(), $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\Management\CreateUserResponse::class);
    }
}
