<?php
/**
 * Management API
 *
 * Configure and manage your Adyen company and merchant accounts, stores, and payment terminals. ## Authentication Each request to the Management API must be signed with an API key. [Generate your API key](https://docs.adyen.com/development-resources/api-credentials#generate-api-key) in the Customer Area and then set this key to the `X-API-Key` header value.  To access the live endpoints, you need to generate a new API key in your live Customer Area. ## Versioning  Management API handles versioning as part of the endpoint URL. For example, to send a request to version 1 of the `/companies/{companyId}/webhooks` endpoint, use:  ```text https://management-test.adyen.com/v1/companies/{companyId}/webhooks ```  ## Going live  To access the live endpoints, you need an API key from your live Customer Area. Use this API key to make requests to:  ```text https://management-live.adyen.com/v1 ```
 *
 * The version of the OpenAPI document: 1
 * Contact: developer-experience@adyen.com
 * Generated by: https://openapi-generator.tech
 * OpenAPI Generator version: 6.4.0
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

namespace Adyen\Service\Management;

use Adyen\AdyenException;
use Adyen\Client;
use Adyen\Service;
use Adyen\Model\Management\ObjectSerializer;

class WebhooksMerchantLevelApi extends Service
{
    /**
     * @var array|string|string[]
     */
    private $baseURL;

    /**
     * WebhooksMerchantLevelApi constructor.
     *
     * @param \Adyen\Client $client
     * @throws AdyenException
     */
    public function __construct(Client $client)
    {
        parent::__construct($client);

        // Create the baseUrl based on live/test and optional live-url-prefix
        $this->baseURL = $this->createBaseUrl("https://management-test.adyen.com/v1");
    }

    /**
    * Remove a webhook
    *
    * @param string $merchantId
    * @param string $webhookId
    * @param array $requestOptions
    
    * @throws AdyenException
    */
    public function removeWebhook(string $merchantId, string $webhookId, array $requestOptions = null)
    {
        $endpoint = $this->baseURL . str_replace(['{merchantId}', '{webhookId}'], [$merchantId, $webhookId], "/merchants/{merchantId}/webhooks/{webhookId}");
        $this->requestHttp($endpoint, strtolower('DELETE'), null, $requestOptions);
        
    }

    /**
    * List all webhooks
    *
    * @param string $merchantId
    * @param int $pageNumber
    * @param int $pageSize
    * @param array $requestOptions
    * @return \Adyen\Model\Management\ListWebhooksResponse
    * @throws AdyenException
    */
    public function listAllWebhooks(string $merchantId, array $requestOptions = null): \Adyen\Model\Management\ListWebhooksResponse
    {
        $endpoint = $this->baseURL . str_replace(['{merchantId}'], [$merchantId], "/merchants/{merchantId}/webhooks");
        $response = $this->requestHttp($endpoint, strtolower('GET'), null, $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\Management\ListWebhooksResponse::class);
    }

    /**
    * Get a webhook
    *
    * @param string $merchantId
    * @param string $webhookId
    * @param array $requestOptions
    * @return \Adyen\Model\Management\Webhook
    * @throws AdyenException
    */
    public function getWebhook(string $merchantId, string $webhookId, array $requestOptions = null): \Adyen\Model\Management\Webhook
    {
        $endpoint = $this->baseURL . str_replace(['{merchantId}', '{webhookId}'], [$merchantId, $webhookId], "/merchants/{merchantId}/webhooks/{webhookId}");
        $response = $this->requestHttp($endpoint, strtolower('GET'), null, $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\Management\Webhook::class);
    }

    /**
    * Update a webhook
    *
    * @param string $merchantId
    * @param string $webhookId
    * @param \Adyen\Model\Management\UpdateMerchantWebhookRequest $updateMerchantWebhookRequest
    * @param array $requestOptions
    * @return \Adyen\Model\Management\Webhook
    * @throws AdyenException
    */
    public function updateWebhook(string $merchantId, string $webhookId, \Adyen\Model\Management\UpdateMerchantWebhookRequest $updateMerchantWebhookRequest, array $requestOptions = null): \Adyen\Model\Management\Webhook
    {
        $endpoint = $this->baseURL . str_replace(['{merchantId}', '{webhookId}'], [$merchantId, $webhookId], "/merchants/{merchantId}/webhooks/{webhookId}");
        $response = $this->requestHttp($endpoint, strtolower('PATCH'), (array) $updateMerchantWebhookRequest->jsonSerialize(), $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\Management\Webhook::class);
    }

    /**
    * Set up a webhook
    *
    * @param string $merchantId
    * @param \Adyen\Model\Management\CreateMerchantWebhookRequest $createMerchantWebhookRequest
    * @param array $requestOptions
    * @return \Adyen\Model\Management\Webhook
    * @throws AdyenException
    */
    public function setUpWebhook(string $merchantId, \Adyen\Model\Management\CreateMerchantWebhookRequest $createMerchantWebhookRequest, array $requestOptions = null): \Adyen\Model\Management\Webhook
    {
        $endpoint = $this->baseURL . str_replace(['{merchantId}'], [$merchantId], "/merchants/{merchantId}/webhooks");
        $response = $this->requestHttp($endpoint, strtolower('POST'), (array) $createMerchantWebhookRequest->jsonSerialize(), $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\Management\Webhook::class);
    }

    /**
    * Generate an HMAC key
    *
    * @param string $merchantId
    * @param string $webhookId
    * @param array $requestOptions
    * @return \Adyen\Model\Management\GenerateHmacKeyResponse
    * @throws AdyenException
    */
    public function generateHmacKey(string $merchantId, string $webhookId, array $requestOptions = null): \Adyen\Model\Management\GenerateHmacKeyResponse
    {
        $endpoint = $this->baseURL . str_replace(['{merchantId}', '{webhookId}'], [$merchantId, $webhookId], "/merchants/{merchantId}/webhooks/{webhookId}/generateHmac");
        $response = $this->requestHttp($endpoint, strtolower('POST'), null, $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\Management\GenerateHmacKeyResponse::class);
    }

    /**
    * Test a webhook
    *
    * @param string $merchantId
    * @param string $webhookId
    * @param \Adyen\Model\Management\TestWebhookRequest $testWebhookRequest
    * @param array $requestOptions
    * @return \Adyen\Model\Management\TestWebhookResponse
    * @throws AdyenException
    */
    public function testWebhook(string $merchantId, string $webhookId, \Adyen\Model\Management\TestWebhookRequest $testWebhookRequest, array $requestOptions = null): \Adyen\Model\Management\TestWebhookResponse
    {
        $endpoint = $this->baseURL . str_replace(['{merchantId}', '{webhookId}'], [$merchantId, $webhookId], "/merchants/{merchantId}/webhooks/{webhookId}/test");
        $response = $this->requestHttp($endpoint, strtolower('POST'), (array) $testWebhookRequest->jsonSerialize(), $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\Management\TestWebhookResponse::class);
    }
}
