name: Format and Commit PHP Code

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332
        with:
          token: ${{ secrets.ADYEN_AUTOMATION_BOT_ACCESS_TOKEN }}

      - name: Format PHP Code
        uses: ./.github/actions/format
        with:
          path: .

      - name: Commit and Push Changes
        env:
          GITHUB_TOKEN: ${{ secrets.ADYEN_AUTOMATION_BOT_ACCESS_TOKEN }}
        run: |
          git config user.name AdyenAutomationBot
          git config user.email "${{ secrets.ADYEN_AUTOMATION_BOT_EMAIL }}"
          git add .
          git commit -m "style(fmt): code formatted" || echo "No changes to commit"
          git push