<?php
/**
 * Adyen Checkout API
 *
 * Adyen Checkout API provides a simple and flexible way to initiate and authorise online payments. You can use the same integration for payments made with cards (including 3D Secure), mobile wallets, and local payment methods (for example, iDEAL and Sofort).  This API reference provides information on available endpoints and how to interact with them. To learn more about the API, visit [online payments documentation](https://docs.adyen.com/online-payments).  ## Authentication Each request to Checkout API must be signed with an API key. For this, [get your API key](https://docs.adyen.com/development-resources/api-credentials#generate-api-key) from your Customer Area, and set this key to the `X-API-Key` header value, for example:  ``` curl -H \"Content-Type: application/json\" \\ -H \"X-API-Key: YOUR_API_KEY\" \\ ... ``` ## Versioning Checkout API supports [versioning](https://docs.adyen.com/development-resources/versioning) using a version suffix in the endpoint URL. This suffix has the following format: \"vXX\", where XX is the version number.  For example: ``` https://checkout-test.adyen.com/v70/payments ```  ## Going live  To access the live endpoints, you need an API key from your live Customer Area.  The live endpoint URLs contain a prefix which is unique to your company account, for example: ``` https://{PREFIX}-checkout-live.adyenpayments.com/checkout/v70/payments ```  Get your `{PREFIX}` from your live Customer Area under **Developers** > **API URLs** > **Prefix**.  When preparing to do live transactions with Checkout API, follow the [go-live checklist](https://docs.adyen.com/online-payments/go-live-checklist) to make sure you've got all the required configuration in place.  ## Release notes Have a look at the [release notes](https://docs.adyen.com/online-payments/release-notes?integration_type=api&version=70) to find out what changed in this version!
 *
 * The version of the OpenAPI document: 70
 * Contact: developer-experience@adyen.com
 * Generated by: https://openapi-generator.tech
 * OpenAPI Generator version: 6.3.0
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

namespace Adyen\Service\Checkout;

use Adyen\AdyenException;
use Adyen\Client;
use Adyen\Service;
use Adyen\Model\Checkout\ObjectSerializer;

class OrdersApi extends Service
{
    /**
     * OrdersApi constructor.
     *
     * @param \Adyen\Client $client
     * @throws AdyenException
     */
    public function __construct(Client $client)
    {
        parent::__construct($client);
        $this->baseURL = $client->getConfig()->get('endpointCheckout') . "/" . $client->getApiCheckoutVersion();
    }

    /**
    * Create an order
    *
    * @param string $idempotencyKey
    * @param \Adyen\Model\Checkout\CheckoutCreateOrderRequest $checkoutCreateOrderRequest
    * @param array $requestOptions
    * @return \Adyen\Model\Checkout\CheckoutCreateOrderResponse
    * @throws AdyenException
    */
    public function createOrder(\Adyen\Model\Checkout\CheckoutCreateOrderRequest $checkoutCreateOrderRequest, $requestOptions = null): \Adyen\Model\Checkout\CheckoutCreateOrderResponse
    {
        $endpoint = $this->baseURL . "/orders";
        $response = $this->requestHttp($endpoint, strtolower('POST'), (array) $checkoutCreateOrderRequest->jsonSerialize(), $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\Checkout\CheckoutCreateOrderResponse::class);
    }

    /**
    * Cancel an order
    *
    * @param string $idempotencyKey
    * @param \Adyen\Model\Checkout\CheckoutCancelOrderRequest $checkoutCancelOrderRequest
    * @param array $requestOptions
    * @return \Adyen\Model\Checkout\CheckoutCancelOrderResponse
    * @throws AdyenException
    */
    public function cancelOrder(\Adyen\Model\Checkout\CheckoutCancelOrderRequest $checkoutCancelOrderRequest, $requestOptions = null): \Adyen\Model\Checkout\CheckoutCancelOrderResponse
    {
        $endpoint = $this->baseURL . "/orders/cancel";
        $response = $this->requestHttp($endpoint, strtolower('POST'), (array) $checkoutCancelOrderRequest->jsonSerialize(), $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\Checkout\CheckoutCancelOrderResponse::class);
    }

    /**
    * Get the balance of a gift card
    *
    * @param string $idempotencyKey
    * @param \Adyen\Model\Checkout\CheckoutBalanceCheckRequest $checkoutBalanceCheckRequest
    * @param array $requestOptions
    * @return \Adyen\Model\Checkout\CheckoutBalanceCheckResponse
    * @throws AdyenException
    */
    public function getBalanceOfGiftCard(\Adyen\Model\Checkout\CheckoutBalanceCheckRequest $checkoutBalanceCheckRequest, $requestOptions = null): \Adyen\Model\Checkout\CheckoutBalanceCheckResponse
    {
        $endpoint = $this->baseURL . "/paymentMethods/balance";
        $response = $this->requestHttp($endpoint, strtolower('POST'), (array) $checkoutBalanceCheckRequest->jsonSerialize(), $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\Checkout\CheckoutBalanceCheckResponse::class);
    }
}
