<?php
/**
 * Adyen Checkout API
 *
 * The version of the OpenAPI document: 70
 * Generated by: https://openapi-generator.tech
 * OpenAPI Generator version: 6.4.0
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

namespace Adyen\Service\Checkout;

use Adyen\AdyenException;
use Adyen\Client;
use Adyen\Service;
use Adyen\Model\Checkout\ObjectSerializer;

class OrdersApi extends Service
{
    /**
     * @var array|string|string[]
     */
    private $baseURL;

    /**
     * OrdersApi constructor.
     *
     * @param \Adyen\Client $client
     * @throws AdyenException
     */
    public function __construct(Client $client)
    {
        parent::__construct($client);

        // Create the baseUrl based on live/test and optional live-url-prefix
        $this->baseURL = $this->createBaseUrl("https://checkout-test.adyen.com/v70");
    }

    /**
    * Create an order
    *
    * @param \Adyen\Model\Checkout\CheckoutCreateOrderRequest $checkoutCreateOrderRequest
    * @param array|null $requestOptions
    * @return \Adyen\Model\Checkout\CheckoutCreateOrderResponse
    * @throws AdyenException
    */
    public function orders(\Adyen\Model\Checkout\CheckoutCreateOrderRequest $checkoutCreateOrderRequest, array $requestOptions = null): \Adyen\Model\Checkout\CheckoutCreateOrderResponse
    {
        $endpoint = $this->baseURL . "/orders";
        $response = $this->requestHttp($endpoint, strtolower('POST'), (array) $checkoutCreateOrderRequest->jsonSerialize(), $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\Checkout\CheckoutCreateOrderResponse::class);
    }

    /**
    * Cancel an order
    *
    * @param \Adyen\Model\Checkout\CheckoutCancelOrderRequest $checkoutCancelOrderRequest
    * @param array|null $requestOptions
    * @return \Adyen\Model\Checkout\CheckoutCancelOrderResponse
    * @throws AdyenException
    */
    public function cancelOrder(\Adyen\Model\Checkout\CheckoutCancelOrderRequest $checkoutCancelOrderRequest, array $requestOptions = null): \Adyen\Model\Checkout\CheckoutCancelOrderResponse
    {
        $endpoint = $this->baseURL . "/orders/cancel";
        $response = $this->requestHttp($endpoint, strtolower('POST'), (array) $checkoutCancelOrderRequest->jsonSerialize(), $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\Checkout\CheckoutCancelOrderResponse::class);
    }

    /**
    * Get the balance of a gift card
    *
    * @param \Adyen\Model\Checkout\CheckoutBalanceCheckRequest $checkoutBalanceCheckRequest
    * @param array|null $requestOptions
    * @return \Adyen\Model\Checkout\CheckoutBalanceCheckResponse
    * @throws AdyenException
    */
    public function getBalanceOfGiftCard(\Adyen\Model\Checkout\CheckoutBalanceCheckRequest $checkoutBalanceCheckRequest, array $requestOptions = null): \Adyen\Model\Checkout\CheckoutBalanceCheckResponse
    {
        $endpoint = $this->baseURL . "/paymentMethods/balance";
        $response = $this->requestHttp($endpoint, strtolower('POST'), (array) $checkoutBalanceCheckRequest->jsonSerialize(), $requestOptions);
        return ObjectSerializer::deserialize($response, \Adyen\Model\Checkout\CheckoutBalanceCheckResponse::class);
    }
}
